div#menu {
    float: left;
    margin-top: 10px;
    position: relative;
}

#navigation {
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
  color: #fff ;
  margin-bottom: 5px ;
}

#navigation li a {
  display: block ;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  padding: 4px 0 ;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
    color: gold;
} 