div#corps {
    position: absolute;
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 300px;
    font: 1em "Trebuchet MS",Arial,sans-serif;
    color: white;
}

a {
    color: orange;
}

a:visited 
{ 
color: orange; 
}
